
<!--Start: Mid-->
<main>	
	<div class="pricing-section price-wrap about-wrap get-started-wrap seprator">
		<div class="container wow fadeInRight">
					<h2 class="title">How Long Will You Need Us?</h2>
					
								
					<div class="seprator wow fadeInRight">
						
						<div class="row clearfix">
						<div class="col-sm-6 col-md-6 col-lg-4">
							<a (click)="getTime('Less than 1 Month')" class="differations-box">

								<!--i class="fa fa-calendar-o" aria-hidden="true"></i-->
								<img src="../../assets/images/calendar.png" class="img-responsive center-block"/>
								<h3>< 1 Month</h3>
								
							</a>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-4">
							<a (click)="getTime('3 Months')" class="differations-box">
								<!--i class="fa fa-calendar-o" aria-hidden="true"></i-->
								<img src="../../assets/images/calendar.png" class="img-responsive center-block"/>
								<h3>3 Month</h3>
								
							</a>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-4">
							<a (click)="getTime('3+ Months')"class="differations-box">
								<!--i class="fa fa-calendar-o" aria-hidden="true"></i-->
								<img src="../../assets/images/calendar.png" class="img-responsive center-block"/>
								<h3>3+ Month</h3>
								
							</a>
						</div>		
					
						
					</div>					
					</div>
		</div>
		
		
		
	</div>
	

</main>
<!--End: Mid-->