
<!--Start: Mid-->
<main>	
	<div class="pricing-section price-wrap about-wrap get-started-wrap seprator">
		<div class="container wow fadeInRight">
					<h2 class="title">How Many Developers Do You Need?</h2>
					
								
					<div class="seprator wow fadeInRight">
						
						<div class="row clearfix">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<a (click)="setNoOfDevs('1')" class="differations-box">

								<!--i class="fa fa-user" aria-hidden="true"></i-->
								<img src="../../assets/images/individual-developer.png" class="img-responsive center-block"/>
								<h3>Hire an individual <br/>
								developer</h3>
								
							</a>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-6">
							<a (click)="setNoOfDevs('Many')" class="differations-box">
								<!--i class="fa fa-users" aria-hidden="true"></i-->
								<img src="../../assets/images/team.png" class="img-responsive center-block"/>
								<h3>Build a team of<br/> developers</h3>
								
							</a>
						</div>
						
						<!--div class="col-sm-6 col-md-6 col-lg-4">
							<a href="step-two.html"class="differations-box">
								<i class="fa fa-comments" aria-hidden="true"></i>
								<h3>Get to know <br/>dev-Team better</h3>
								
							</a>
						</div-->		
					
						
					</div>					
					</div>
		</div>
		
		
		
	</div>
	

</main>
<!--End: Mid-->