<main>

	
		
		
	
	
    <div class="pricing-section price-wrap about-wrap seprator">
      <div class="container wow fadeInUp">
            <h2 class="title">Agile Development Process</h2>
            <h3>We Use Scrum Methodology to implement Agile development.</h3>
            
            <img src="../../assets/images/process-img.jpg" class="img-responsive center-block"/>
            
            <div class="seprator process-section wow fadeInUp">
              <h3>How Scrum Works</h3>
              
              <div class="row clearfix">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="differations-box">
                  
                  <h3>01</h3>
                  <p> Identification of a particular set of features by the product owner for each sprint which is defined in the product backlog.</p>
                </div>
              </div>
              
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="differations-box">
                  <h3>02</h3>
                  <p> Development team selects the top feature from the backlog which they will deliver at the end of a sprint.</p>
                </div>
              </div>
              
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="differations-box">
                  <h3>03</h3>
                  <p> After agreeing to do a particular feature, the feature is then broken into a smaller task which is developed by Product Owner found in the sprint backlog.</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="differations-box pull-right">
                  <h3>04</h3>
                  <p> The sprint starts & during this, there are daily meetings where the team members provide status of their tasks and discuss the problem related to a task. Scrum master is responsible for solving the problem during these daily meetings.</p>
                </div>
              </div>
              
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="differations-box pull-right">
                  <h3>05</h3>
                  <p> After sprint completion, the feature is presented to the product owner for approval and review is given to team related to a feature in sprint review.</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="differations-box pull-right">
                  <h3>06</h3>
                  <p> Finally, in retrospective meeting the team, scrum master and product owner discuss improvements in the overall process. After agreeing to do a particular feature, the feature is broken into a smaller task which is developed by product owner found in the sprint backlog.</p>
                </div>
              </div>
            
              
            </div>					
            </div>
      </div>
      
      
      
    </div>
    
  
  </main>

  <app-footer-cta></app-footer-cta>
