
<!--Start: Mid-->
<main>	
	<div class="pricing-section price-wrap about-wrap get-started-wrap seprator">
		<div class="container wow fadeInRight">
					<h2 class="title">How Soon Do You Need Us?
</h2>
					
								
					<div class="seprator wow fadeInRight">
						
						<div class="row clearfix">
						<div class="col-sm-6 col-md-6 col-lg-4">
							<a (click)="setHowSoon('1-2 Weeks')" class="differations-box">

							<!--i class="fa fa-clock-o" aria-hidden="true"></i-->
							<img src="../../assets/images/clock.png" class="img-responsive center-block"/>
								<h3>1-2 Weeks</h3>
								
							</a>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-4">
							<a (click)="setHowSoon('2-4 Weeks')" class="differations-box">
								<!--i class="fa fa-clock-o" aria-hidden="true"></i-->
								<img src="../../assets/images/clock.png" class="img-responsive center-block"/>
								<h3>2-4 Weeks</h3>
								
							</a>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-4">
							<a (click)="setHowSoon('4+ Weeks')"class="differations-box">
								<!--i class="fa fa-clock-o" aria-hidden="true"></i-->
								<img src="../../assets/images/clock.png" class="img-responsive center-block"/>
								<h3>4+ Weeks</h3>
								
							</a>
						</div>		
					
						
					</div>					
					</div>
		</div>
		
		
		
	</div>
	

</main>
<!--End: Mid-->
