<div class="container-fluid">
		<div class="contact-section">
			<div class="row clearfix">
				<div class="col-sm-6">
					<a routerLink="/get-started" class="box left-box  wow fadeIn">
					
						<img src="../../assets/images/brif-icon.png"/>
						<h2>Want to work together ?</h2>
						<p>Amazing ! Tell us about your<br/>project</p>
						<img src="../../assets/images/blk-arrow.png" class="arrow"/>
				
					</a>
				</div>
				<div class="col-sm-6">
					<a routerLink="/contact" class="box bg-gradient wow fadeIn">
					<img src="../../assets/images/mail-icon.png"/>
						<h2>Contact Us</h2>
						<p>Get in touch</p>
						<img src="../../assets/images/wht-arrow.png" class="arrow"/>
					</a>
				</div>
			</div>				
		</div>

		       
		
		
	</div>