
<!--Start: Mid-->
<main style="text-align: left">
	
	<div class="pricing-section price-wrap seprator">
		<div class="container wow fadeIn">
					<h2 class="title">Technologies</h2>
					
					<div class="row clearfix">
						<div class="col-md-8 col-md-offset-2">
							<div class="panel-group" id="accordion" role="tablist">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ui" aria-expanded="false" aria-controls="ui" >
											  <i class="fa fa-paint-brush" aria-hidden="true"></i> UI/UX
											</a>
										  </h4>

									</div>
									<div id="ui" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
                                            <ul>
                                                <li>
                                                  <a href="get-started.html">HTML Developers</a>
                                                </li>
                                                <li>
                                                  <a href="get-started.html">CSS Developers</a>
                                                </li>
                                                <li>
                                                  <a href="get-started.html">Sass Developers</a>
                                                </li>
                                              </ul>
                                        </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#frontend" aria-expanded="false" aria-controls="frontend">
											  <i class="fa fa-file-code-o" aria-hidden="true"></i> Front-end
											</a>
										  </h4>

									</div>
									<div id="frontend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
                                            <ul>
                                                <li><a href="get-started.html">Web Developers</a></li>
                                                <li><a href="get-started.html">Frontend Developers</a></li>
                                                <li><a href="get-started.html">Javascript Developers</a></li>
                                       <li><a href="get-started.html">Redux Developers</a></li>
                                        <li><a href="get-started.html">AngularJS Developers</a></li>
                                                 <li><a href="get-started.html">React Developers</a></li>
                                        <li><a href="get-started.html">TypeScript Developers</a></li>
                                        <li><a href="get-started.html">Backbone.js Developers</a></li>
                                         <li><a href="get-started.html">Ember.js Developers</a></li>
                                        <li><a href="get-started.html">CoffeeScript Developers</a></li>
                                       
                                        <li><a href="get-started.html">Vue.js Developers</a></li>
                                        
                                        
                                                </ul>
                                        </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#backend" aria-expanded="false" aria-controls="backend" >
											 <i class="fa fa-cogs" aria-hidden="true"></i>  Back-end
											</a>
										</h4>

									</div>
									<div id="backend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
                                            <ul>
                                                <li><a href="get-started.html">PHP Developers</a></li>
                                                <li><a href="get-started.html">Ruby on Rails Developers</a></li>
                                                <li><a href="get-started.html">Python Developers</a></li>
                                            <li><a href="get-started.html"> Java Developers</a></li>
                                           
                                            <li><a href="get-started.html">  Drupal Developers</a></li>
                                           <li><a href="get-started.html"> Laravel Developers</a></li>
                                                 <li><a href="get-started.html">Node.js Developers</a></li>
                                            <li><a href="get-started.html">Symfony Developers</a></li>
                                                 <li><a href="get-started.html">Django Developers</a></li>
                                            <li><a href="get-started.html">Codeigniter Developers</a></li>
                                           <li><a href="get-started.html">  Software Developers</a></li>
                                          <li><a href="get-started.html">  Fullstack Developers</a></li>
                                           <li><a href="get-started.html"> Go Developers</a></li>
                                           
                                           <li><a href="get-started.html"> Flask Developers</a></li>
                                         
                                         
                                                <li><a href="get-started.html">  Back-end Developers</a></li></ul>
                                        </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingfour">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#database" aria-expanded="false" aria-controls="database">
											 <i class="fa fa-database" aria-hidden="true"></i> Database
											</a>
										</h4>

									</div>
									<div id="database" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
										<div class="panel-body"><ul>
                                            <li><a href="get-started.html">MySQL Developers</a></li>
                                            <li><a href="get-started.html">PostgreSQL Developers</a></li>
                                            <li><a href="get-started.html">MongoDB Developers</a></li>
                                                <li><a href="get-started.html">Firebase Developers</a></li>
                                                </ul></div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingfive">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#mobieapp" aria-expanded="false" aria-controls="mobieapp">
											<i class="fa fa-mobile" aria-hidden="true"></i> Mobile/App
											</a>
										</h4>

									</div>
									<div id="mobieapp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
										<div class="panel-body">
                                            <ul><li><a href="get-started.html"> Ionic Developers</a></li>
                                            <li><a href="get-started.html">
                                                iOS Developers</a></li>
                                                <li><a href="get-started.html"> Android Developers</a></li>
                                               
                                               <li><a href="get-started.html"> Mobile Developers</a></li></ul></div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingsix">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#blockchain" aria-expanded="false" aria-controls="blockchain">
											<i class="fa fa-th-large" aria-hidden="true"></i> Blockchain
											</a>
										</h4>

									</div>
									<div id="blockchain" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
										<div class="panel-body">
                                         <ul>   <li><a href="get-started.html"> Blockchain Developers</a>
                                            <li><a href="get-started.html">Bitcoin Developers</a></li>
                                           
                                           <li><a href="get-started.html"> Cryptocurrency Developers</a></li>
                                                <li><a href="get-started.html"> Blockchain Developers</a></li>
                                                <li><a href="get-started.html"> Ethereum Developers</a></li></ul>
                                        </div>
									</div>
								</div>
							</div>
						</div>
							
					</div>
					
		</div>
	</div>


</main>
<!--End: Mid-->
