
<!--Start: Mid-->
<main style="text-align: left;">

	
		
		
	
	
    <div class="pricing-section price-wrap seprator">
      <div class="container wow fadeInUp">
            <h2 class="title">Trust our experience to build the software that run our business.</h2>
            <h3>Our expert team of designers, developers, and consultants work with an array of different technologies and industries to build amazing things for amazing people.</h3>
            
            
          
      </div>
    </div>
    <div class="portfolio-section">
      <div class="container-fluid">	
        <div class="row clearfix">
              <div class="col-md-6 wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img1.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
            
              <div class="col-md-5 col-md-offset-1">
                <div class="about-portfolio wow fadeInUp">
                  <h4>quoteslash.com</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  <h5>Technology Stack</h5>
                  <ul class="tag">
                  <li>Bootstrap</li> <li>Wordpress</li> <li>CMS</li> <li>Core</li>							
                  </ul>
                  <a href="http://quoteslash.com" target="_blank">View Live Site</a>
                </div>	
              </div>
        </div>
      </div>	
    </div>
    
    <div class="portfolio-section">
      <div class="container-fluid">	
        <div class="row clearfix">
        
            <div class="col-md-6 visible-xs visible-sm wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img2.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
        
              <div class="col-md-5 col-md-offset-1">
                <div class="about-portfolio wow fadeInUp">
                  <h4>tap2order.org</h4>
                  <p>Gamecreate is a video game editorial site by Newegg, focusing on both games and computer hardware.</p>
  
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  <h5>Technology Stack</h5>
                  <ul class="tag">
                    <li>Bootstrap</li> <li>Wordpress</li> <li>CMS</li> <li>Core</li>							
                  </ul>
                  <h5>You can download for mobile app</h5>
                  <p class="app-icon">
                     <i class="fa fa-android" aria-hidden="true"></i> <i class="fa fa-apple" aria-hidden="true"></i>
                  </p>
                  <a href="http://tap2order.org" target="_blank">View Live Site</a>
                </div>	
              </div>
              <div class="col-md-6 hidden-xs hidden-sm wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img2.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
            
              
        </div>
      </div>	
    </div>
    <div class="portfolio-section">
      <div class="container-fluid">	
        <div class="row clearfix">
              <div class="col-md-6 wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img3.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
            
              <div class="col-md-5 col-md-offset-1">
                <div class="about-portfolio wow fadeInUp">
                  <h4>globalradar.com</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  <h5>Technology Stack</h5>
                  <ul class="tag">
                    <li>Bootstrap</li> <li>Wordpress</li> <li>CMS</li> <li>Core</li>							
                  </ul>
                  <a href="https://globalradar.com" target="_blank">View Live Site</a>
                </div>	
              </div>
        </div>
      </div>	
    </div>
    <div class="portfolio-section">
      <div class="container-fluid">	
        <div class="row clearfix">
        
            <div class="col-md-6 visible-xs visible-sm wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img4.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
        
              <div class="col-md-5 col-md-offset-1">
                <div class="about-portfolio wow fadeInUp">
                  <h4>tappittechnology.com</h4>
                  <p>Gamecreate is a video game editorial site by Newegg, focusing on both games and computer hardware.</p>
  
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  <h5>Technology Stack</h5>
                  <ul class="tag">
                    <li>Bootstrap</li> <li>Wordpress</li> <li>CMS</li> <li>Core</li>							
                  </ul>
                  <h5>You can download for mobile app</h5>
                  <p class="app-icon">
                     <i class="fa fa-android" aria-hidden="true"></i> <i class="fa fa-apple" aria-hidden="true"></i>
                  </p>
                  <a href="http://tappittechnology.com" target="_blank">View Live Site</a>
                </div>	
              </div>
              <div class="col-md-6 hidden-xs hidden-sm wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img4.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
            
              
        </div>
      </div>	
    </div>
    <div class="portfolio-section">
      <div class="container-fluid">	
        <div class="row clearfix">
              <div class="col-md-6 wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img5.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
            
              <div class="col-md-5 col-md-offset-1">
                <div class="about-portfolio wow fadeInUp">
                  <h4>d2d-millionaire</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  <h5>Technology Stack</h5>
                  <ul class="tag">
                    <li>Bootstrap</li> <li>Wordpress</li> <li>CMS</li> <li>Core</li>							
                  </ul>
                  <a href="https://itunes.apple.com/us/app/d2d-millionaire/id1097455522?mt=8" target="_blank">View Live Site</a>
                </div>	
              </div>
        </div>
      </div>	
    </div>
    <div class="portfolio-section">
      <div class="container-fluid">	
        <div class="row clearfix">
        
            <div class="col-md-6 visible-xs visible-sm wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img6.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
        
              <div class="col-md-5 col-md-offset-1">
                <div class="about-portfolio wow fadeInUp">
                  <h4>medchain.us</h4>
                  <p>Gamecreate is a video game editorial site by Newegg, focusing on both games and computer hardware.</p>
  
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  <h5>Technology Stack</h5>
                  <ul class="tag">
                    <li>Bootstrap</li> <li>Wordpress</li> <li>CMS</li> <li>Core</li>							
                  </ul>
                  
                  <a href="http://medchain.us" target="_blank">View Live Site</a>
                </div>	
              </div>
              <div class="col-md-6 hidden-xs hidden-sm wow fadeIn">
                <div class="image-block" style="background:url(../../assets/images/work-img6.jpg) no-repeat; background-size:cover;">
                </div>
              </div>
            
              
        </div>
      </div>	
    </div>
  </main>
  <!--End: Mid-->

  <app-footer-cta></app-footer-cta>
