

<!--Start: Mid-->
<main>
	
	<div class="pricing-section price-wrap seprator">
		<div class="container wow fadeInRight">
					<h2 class="title">Thank you</h2>
					
					<div class="row clearfix">
						<div class="col-md-6 col-md-offset-3">
							<div class="get-started-form text-center">
								<img src="../../assets/images/account-manager.png" class="img-responsive center-block">
								<p>A dedicated account manager has started reviewing
your request &amp; will get in touch with you shortly. </p>
							</div>
						</div>
							
					</div>
					
		</div>
	</div>
	

</main>

<script type="text/javascript" src="https://devtrust.agilecrm.com/stats/min/agile-min.js"></script>
<script type="text/javascript" > _agile.set_account('nrri4t6b8d0jcjh011o5864gqs', 'devtrust');
	_agile.track_page_view();
	_agile_execute_web_rules();
</script>
<!--End: Mid-->