
<!--Start: Mid-->
<main style="text-align: left">
	
	<div class="pricing-section price-wrap seprator">
		<div class="container wow fadeIn">
					<h2 class="title">Technologies</h2>
					
					<div class="row clearfix">
						<div class="col-md-8 col-md-offset-2">
							<div class="panel-group" id="accordion" role="tablist">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ui" aria-expanded="false" aria-controls="ui" >
											  <i class="fa fa-paint-brush" aria-hidden="true"></i> UI/UX
											</a>
										  </h4>

									</div>
									<div id="ui" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
                                            <ul>
                                                <li>
                                                  <a routerLink="/get-started">HTML Developers</a>
                                                </li>
                                                <li>
                                                  <a routerLink="/get-started">CSS Developers</a>
                                                </li>
                                                <li>
                                                  <a routerLink="/get-started">Sass Developers</a>
                                                </li>
                                              </ul>
                                        </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#frontend" aria-expanded="false" aria-controls="frontend">
											  <i class="fa fa-file-code-o" aria-hidden="true"></i> Front-end
											</a>
										  </h4>

									</div>
									<div id="frontend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
                                            <ul>
                                                <li><a routerLink="/get-started">Web Developers</a></li>
                                                <li><a routerLink="/get-started">Frontend Developers</a></li>
                                                <li><a routerLink="/get-started">Javascript Developers</a></li>
                                       <li><a routerLink="/get-started">Redux Developers</a></li>
                                        <li><a routerLink="/get-started">AngularJS Developers</a></li>
                                                 <li><a routerLink="/get-started">React Developers</a></li>
                                        <li><a routerLink="/get-started">TypeScript Developers</a></li>
                                        <li><a routerLink="/get-started">Backbone.js Developers</a></li>
                                         <li><a routerLink="/get-started">Ember.js Developers</a></li>
                                        <li><a routerLink="/get-started">CoffeeScript Developers</a></li>
                                       
                                        <li><a routerLink="/get-started">Vue.js Developers</a></li>
                                        
                                        
                                                </ul>
                                        </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#backend" aria-expanded="false" aria-controls="backend" >
											 <i class="fa fa-cogs" aria-hidden="true"></i>  Back-end
											</a>
										</h4>

									</div>
									<div id="backend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
                                            <ul>
                                                <li><a routerLink="/get-started">PHP Developers</a></li>
                                                <li><a routerLink="/get-started">Ruby on Rails Developers</a></li>
                                                <li><a routerLink="/get-started">Python Developers</a></li>
                                            <li><a routerLink="/get-started"> Java Developers</a></li>
                                           
                                            <li><a routerLink="/get-started">  Drupal Developers</a></li>
                                           <li><a routerLink="/get-started"> Laravel Developers</a></li>
                                                 <li><a routerLink="/get-started">Node.js Developers</a></li>
                                            <li><a routerLink="/get-started">Symfony Developers</a></li>
                                                 <li><a routerLink="/get-started">Django Developers</a></li>
                                            <li><a routerLink="/get-started">Codeigniter Developers</a></li>
                                           <li><a routerLink="/get-started">  Software Developers</a></li>
                                          <li><a routerLink="/get-started">  Fullstack Developers</a></li>
                                           <li><a routerLink="/get-started"> Go Developers</a></li>
                                           
                                           <li><a routerLink="/get-started"> Flask Developers</a></li>
                                         
                                         
                                                <li><a routerLink="/get-started">  Back-end Developers</a></li></ul>
                                        </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingfour">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#database" aria-expanded="false" aria-controls="database">
											 <i class="fa fa-database" aria-hidden="true"></i> Database
											</a>
										</h4>

									</div>
									<div id="database" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
										<div class="panel-body"><ul>
                                            <li><a routerLink="/get-started">MySQL Developers</a></li>
                                            <li><a routerLink="/get-started">PostgreSQL Developers</a></li>
                                            <li><a routerLink="/get-started">MongoDB Developers</a></li>
                                                <li><a routerLink="/get-started">Firebase Developers</a></li>
                                                </ul></div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingfive">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#mobieapp" aria-expanded="false" aria-controls="mobieapp">
											<i class="fa fa-mobile" aria-hidden="true"></i> Mobile/App
											</a>
										</h4>

									</div>
									<div id="mobieapp" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfive">
										<div class="panel-body">
                                            <ul><li><a routerLink="/get-started"> Ionic Developers</a></li>
                                            <li><a routerLink="/get-started">
                                                iOS Developers</a></li>
                                                <li><a routerLink="/get-started"> Android Developers</a></li>
                                               
                                               <li><a routerLink="/get-started"> Mobile Developers</a></li></ul></div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingsix">
										 <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#blockchain" aria-expanded="false" aria-controls="blockchain">
											<i class="fa fa-th-large" aria-hidden="true"></i> Blockchain
											</a>
										</h4>

									</div>
									<div id="blockchain" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
										<div class="panel-body">
                                         <ul>   <li><a routerLink="/get-started"> Blockchain Developers</a>
                                            <li><a routerLink="/get-started">Bitcoin Developers</a></li>
                                           
                                           <li><a routerLink="/get-started"> Cryptocurrency Developers</a></li>
                                                <li><a routerLink="/get-started"> Blockchain Developers</a></li>
                                                <li><a routerLink="/get-started"> Ethereum Developers</a></li></ul>
                                        </div>
									</div>
								</div>
							</div>
						</div>
							
					</div>
					
		</div>
	</div>


</main>
<!--End: Mid-->
