<main>

		<div class="container">
			<div class="banner-section middle-heading-wrap wow fadeInUp">

				<div class="caption-frame">
					<div class="container">
					<h2>Founders Journey</h2>
					<p class="short-title">Read about true experience, challenges, and what the road to success really looks like straight from the team behind Baremetrics.</p>
					<a href="#" class="btn btn-default">Talk to your account manger &nbsp;&nbsp;&nbsp; <img src="../../assets/images/wht-arrow.png"/></a>
					</div>
				</div>	
					
			</div>	
		</div>
	
	
	<div class="seprator blog-section">
		<div class="container">	
			<div class="row clearfix">
				<div class="col-sm-8">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/jour-1.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img2.png" class="img-responsive"/>
							<div class="txt-block">
								<h3>Sport Stadium Birdview</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img1.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/jour-2.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>Sport Stadium Birdview</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img3.png" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/jour-3.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/jour-4.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>Sport Stadium Birdview</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img3.png" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img1.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/jour-5.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>Sport Stadium Birdview</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img3.png" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img1.jpg" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img2.png" class="img-responsive"/>
							<div class="txt-block">
								<h3>Sport Stadium Birdview</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
				<div class="col-sm-4">
					<div class="blog-wrap  wow fadeInUp">
							<a href="blog-view.html">	
							<img src="../../assets/images/blog-img3.png" class="img-responsive"/>
							<div class="txt-block">
								<h3>The number of protonos</h3>
								<p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
								<div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
							</div>
							</a>
					</div>					
				</div>
			</div>
		</div>
	</div>	
</main>

<app-footer-cta></app-footer-cta>
