<app-engagement-form></app-engagement-form>
  <main style="text-align: left;">
      <div class="bg-gradient team-section seprator wow fadeIn">
        <div class="container">
          <div class="header-block">
            <h2>Extend Your <span>Developement Team</span></h2>
            <hr/>			
            <p>Partner with DEVtrust and let a full time, scalable team work with you.</p>
        
          </div>
          
          <div class="row clearfix">
            <div class="col-sm-6">
              <div class="team-grid">
                <img src="../assets/images/icon-1.png" class="avtar">
                <div class="text-block">
                <h3>Dedicated Team</h3>
                Scaleable team of skillfull, dedicated & experienced software professionals.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="team-grid">
                <img src="../assets/images/icon-2.png" class="avtar">
                <div class="text-block">
                <h3>Account Management</h3>
                Dedicated Account Managers to take you through your DEVtrust journey.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="team-grid">
                <img src="../assets/images/icon-3.png" class="avtar">
                <div class="text-block">
                <h3>Project Management</h3>
                As you scale your development team, DEVtrust engages Project Managers to make task assignment & communication seamless.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="team-grid">
                <img src="../assets/images/icon-4.png" class="avtar">
                <div class="text-block">
                <h3>Flexible Contracts</h3>
                Simple, flexible monthly billing contracts.
                </div>
              </div>
            </div>
          </div>
        </div>	
      </div>
      <div class="seprator philoshopy-section wow fadeInUp">
        <div class="container">
          <div class="row clearfix">
            <div class="col-sm-6">
              <img src="../assets/images/philoshopy-img.png" class="img-responsive"/>					
            </div>
            <div class="col-sm-6">
              <h2>Our <b>Philoshopy</b></h2>
              <hr/>
              <p>Making the best of breed technical &amp; managerial talent available to our global clientele.
     </p>
              <!--img src="../assets/images/icon-group.png" class="img-responsive"/-->		
            </div>
          </div>
        </div>
      </div>
      
        
        <div class="seprator philoshopy-section software-section">
        <div class="container">
          <!--hgroup class="wow fadeInUp">
            <h2> <b>Leveraging Innovative Technologies</b></h2>
            
            <hr/>
          </hgroup-->
        
          <div class="seprator-bottom wow fadeInUp">
            <div class="row clearfix">
            <div class="col-sm-6 visible-xs">
                <img src="../assets/images/software-img1.png" class="img-responsive"/>			
              </div>
              <div class="col-sm-6">
                <h3>Leveraging <b>Innovative Technologies</b></h3>
                <hr/>
                <p>Our team is motivated and driven to keep enhancing their skills in a wide range of programming languages.</p>
                  
                    
              </div>
              <div class="col-sm-6 hidden-xs">
                <img src="../assets/images/software-img1.png" class="img-responsive"/>			
              </div>
            </div>
          </div>
    
          <div class="seprator-bottom wow fadeInUp">
            <div class="row clearfix">
              <div class="col-sm-6">
                <img src="../assets/images/software-img2.png" class="img-responsive"/>			
              </div>
              <div class="col-sm-6">
                <h3>Seamless <b>Communication</b></h3>
                <hr/>
                <p>Proactive &amp; seamless communication, delivering detailed progress updates consistently.</p>
              </div>
              
            </div>
          </div>
          <div class="seprator-bottom wow fadeInUp">
            <div class="row clearfix">
            <div class="col-sm-6 visible-xs">
                <img src="../assets/images/software-img3.png" class="img-responsive"/>			
              </div>
              <div class="col-sm-6">
                <h3>Zero <b>Risk</b></h3>
                <hr/>
                <p>Engage in a three day risk free trail to get a taste of what we have on offer</p>
                  
                    
              </div>
              <div class="col-sm-6 hidden-xs">
                <img src="../assets/images/software-img3.png" class="img-responsive"/>			
              </div>
            </div>
          </div>
    
          <div class="seprator-bottom wow fadeInUp">
            <div class="row clearfix">
              <div class="col-sm-6">
                <img src="../assets/images/software-img4.png" class="img-responsive"/>			
              </div>
              <div class="col-sm-6">
                <h3>Global <b>Team</b></h3>
                <hr/>
                <p>Global distributed team of skilled software professionals with availability in different time zones</p>
              </div>
              
            </div>
          </div>
    
          <div class="seprator-bottom wow fadeInUp">
            <div class="row clearfix">
            <div class="col-sm-6 visible-xs">
                <img src="../assets/images/software-img5.png" class="img-responsive"/>			
              </div>
              <div class="col-sm-6">
                <h3>Superior <b>Talent</b></h3>
                <hr/>
                <p>DEVtrust hires only the best talent to bring to your team, they have to pass the DEVtrust Certification and go through an extensive interview process.</p>
                  
                    
              </div>
              <div class="col-sm-6 hidden-xs">
                <img src="../assets/images/software-img5.png" class="img-responsive"/>			
              </div>
            </div>
          </div>
    
          <div class="seprator-bottom wow fadeInUp">
            <div class="row clearfix">
              <div class="col-sm-6">
                <img src="../assets/images/software-img6.png" class="img-responsive"/>			
              </div>
              <div class="col-sm-6">
                <h3>Plug and <b>Play</b></h3>
                <hr/>
                <p>Be it Jira, Slack, Trello, Github, or any other system, your extended DEVtrust team will plug right into your ecosystem.</p>
              </div>
              
            </div>
          </div>	
          
                <div class="banner-section middle-heading-wrap wow fadeInUp">
    
                     <div class="caption-frame">
                    <div class="container">								
                    
                    <a routerLink="/get-started" class="btn btn-default">Talk to your account manager <img src="../assets/images/wht-arrow.png"/></a>
                    </div>
                  </div>	
                    
              </div>	
        </div>
      </div>
      <div class="bg-gradient testimonial-section wow fadeIn">
        <div class="container">
        <div class="row clearfix">
          <div class="col-lg-12">
            <div class="height-block">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="content-box">
                <p class="name">Testimonials</p>
                 <div class="bxslider">
                    <div class="item active">
                      
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>
                      
                      <img src="../assets/images/testimonial-img.jpg" class="center-block img-responsive img-circle"/>
                        <p><strong>Client Name</strong>, Project Name</p>
                      
                    </div>
                    <div class="item">
                      
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>
                      <img src="../assets/images/testimonial-img.jpg" class="center-block img-responsive img-circle"/>									
                       <p><strong>Client Name</strong>, Project Name</p>
                    </div> 				
                </div>
                
                
                </div>
              </div>
            </div>
          </div>
          </div>	
        </div>
      </div>
    <!--div class="container-fluid testimonial-section wow fadeIn">
        <div class="row clearfix">
          <div class="col-md-8 col-lg-9">
            <div class="bg-gradient height-block">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="content-box">
                <p class="name">Testimonials</p>
                 <div class="bxslider">
                    <div class="item active">
                      
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>
                                        <p><strong>Client Name</strong>, Project Name</p>
                      
                    </div>
                    <div class="item">
                      
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>					
                       <p><strong>Client Name</strong>, Project Name</p>
                    </div> 				
                </div>
                
                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="testimonial-img height-block">
              
            </div>
          </div>
        </div>
      </div-->	
      
      <div class="our-client-section seprator wow fadeIn">
        <div class="container">
              <h2>Our <b>Clients</b></h2>
              <hr/>
            <ul class="client-wrap">
              <li><a href="http://medchain.us/"  target="_blank"><img src="../assets/images/client-icon1.jpg"></a></li>
              <li><a href="http://www.tap2order.com/"  target="_blank"><img src="../assets/images/client-icon2.png"></a></li>
              <li><a href="https://www.globalradar.com/"  target="_blank"><img src="../assets/images/client-icon3.jpg"></a></li>
              <li><a href="https://itunes.apple.com/us/app/d2d-millionaire/id1097455522?mt=8"  target="_blank"><img src="../assets/images/client-icon4.png"></a></li>
              <li><a href="http://www.quoteslash.com/"  target="_blank"><img src="../assets/images/client-icon5.png"></a></li>
              <li><a href="http://tappittechnology.com/"  target="_blank"><img src="../assets/images/client-icon6.png"></a></li>
            </ul>
        </div>
      </div>
      
      <!--div class="pricing-section seprator">
        <div class="container">
              <h2>Our <b>Pricing</b></h2>
              <hr/>
              <div class="row clearfix">
                <div class="col-md-4">
                  <div class="bg-gradient price-block left-box wow fadeIn">
                    <img src="../assets/images/senior-dev.png" class="center-block img-responsive"/>
                    <h2>Senior Developer</h2>
                    <ul>
                      <li> Responsive</li>
                      <li> 3-4 consultation</li>
                      <li> Regular Event</li>									
                    </ul>
                    <p class="price"><sup>$</sup>4000/mo</p>
                    <a href="" class="btn btn-wht">Choose Plan</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="bg-gradient price-block mid-box wow fadeIn">
                    <img src="../assets/images/blackchain.png" class="center-block img-responsive"/>
                    <h2>Backchain Developer</h2>
                    <ul>
                      <li> Responsive</li>
                      <li> 3-4 consultation</li>
                      <li> Personal cordinator</li>
                      <li> Long-term contact</li>			
                    </ul>
                    <p class="price"><sup>$</sup>15.95/mo</p>
                    <a href="" class="btn btn-wht">Choose Plan</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="bg-gradient price-block right-box  wow fadeIn">
                    <img src="../assets/images/pro.png" class="center-block img-responsive"/>
                    <h2>Pro</h2>
                    <p class="base-txt">Base</p>
                    <ul>
                      <li> Responsive</li>
                      <li> 3-4 consultation</li>
                      <li> Personal cordinator</li>
                      <li> Long-term contact</li>									
                    </ul>
                    <p class="price"><sup>$</sup>49.95/mo</p>
                    <a href="" class="btn btn-wht">Choose Plan</a>
                  </div>
                </div>
              </div>
        </div>
      </div-->
      
      <!--div class="bg-gradient seprator greenbox">
        <div class="container  wow fadeInUp">
          <h2>Grow Your Team with top Developers Certified and Trained Developers</h2>
          <h3>Want to work together ? Amazing ! Tell Us About Your Projects</h3>
          <p><a href="#" class="btn btn-default">Talk to your account manger <img src="../assets/images/blk-arrow.png"/></a></p>
        </div>
      </div-->
      
      <!-- <div class="seprator blog-section">
        <div class="container">
        <h2>Recent <b>Blog</b></h2>
        <hr/>
          <div class="row clearfix">
            <div class="col-sm-4">
              <div class="blog-wrap  wow fadeInUp">
                  <a href="">	
                  <img src="../assets/images/blog-img1.jpg" class="img-responsive"/>
                  <div class="txt-block">
                    <h3>The number of protonos</h3>
                    <p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
                    <div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
                  </div>
                  </a>
              </div>					
            </div>
            <div class="col-sm-4">
              <div class="blog-wrap  wow fadeInUp">
                  <a href="">	
                  <img src="../assets/images/blog-img2.png" class="img-responsive"/>
                  <div class="txt-block">
                    <h3>Sport Stadium Birdview</h3>
                    <p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
                    <div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
                  </div>
                  </a>
              </div>					
            </div>
            <div class="col-sm-4">
              <div class="blog-wrap  wow fadeInUp">
                  <a href="">	
                  <img src="../assets/" class="img-responsive"/>
                  <div class="txt-block">
                    <h3>The number of protonos</h3>
                    <p>Apple inc has decided to launch the mush awaited Apple Watch in the</p>
                    <div class="time-widget"><i class="fa fa-clock-o" aria-hidden="true"></i>  1 June 2018</div>
                  </div>
                  </a>
              </div>					
            </div>
          </div>
        </div>
      </div> -->
      
      
    </main>

    <script>



$(document).ready(function(){

$('.bxslider').bxSlider({
infiniteLoop: true,
mode: 'fade',
speed: 1200,
auto: true,
hideControlOnEnd: true,
minSlides: 1,
maxSlides: 1,
slideMargin: 0
});			
});

    
    </script>

    <app-footer-cta></app-footer-cta>
