<!--Start: Mid-->
<main>
	
	<div class="pricing-section price-wrap seprator">
		<div class="container wow fadeInRight">
					<h2 class="title">What Skills do you need?</h2>
					
					<div class="row clearfix">
						<div class="col-md-6 col-md-offset-3">
							<div class="get-started-form">
								<form >
									  
									 
									  
									  <div class="form-group">
										<label >Example: We need experienced Angular &amp; Node.js developers..</label>
										<textarea class="form-control text-area" [(ngModel)]="skillsNeeded" name="skillsNeeded" rows="12"></textarea>
									  </div>
										<div class="alert alert-danger"  *ngIf="show">
											Please add atleast one skill.
										</div>
									
									
								  <a type="submit" (click)="goToSummary()" class="btn btn-default">Next<img src="../../assets/images/wht-arrow.png"></a>
								</form>
							</div>
						</div>					
					</div>
		</div>
	</div>
	

</main>
<!--End: Mid-->